/* Adaptive */
@media (max-width: 1000px) {
  .user-actions__item-search{
    margin-left: 30px;
  }
  .menu{
    margin-right: auto;
  }
  .menu__list{
    margin-left: 60px;
  }
  .logo{
    margin-bottom: 0;
  }
  .header__inner{
    min-height: auto;
  }
  .blockquote__text{
    margin-top: 120px;
    margin-bottom: 135px;
  }
  .assortment{
    margin-bottom: 120px;
  }
  .assortment__list{
    gap: 0;
  }
  .assortment__title{
    margin-bottom: 30px;
  }
}

@media (max-width: 860px) {
  .menu__list{
    transform: translateY(-100%);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 480px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    text-align: center;
    padding-top: 60px;
    transition: transform .6s ease;
  }

  .menu__list.menu__list--open{
    transform: translateY(0%);
  }

  .menu__close-btn{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .menu__item{
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Cormorant', serif;
  }
  .mobile-menu{
    padding-top: 60px;
    margin: 60px 30px;
    border-top: 2px solid #F7F2EA;
  }
  .mobile-actions{
    background-color: #F7F2EA;
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .menu__btn{
    display: flex;
  }

  .mobile-nav,
  .menu__close{
    display: block;
  }

  .menu{
    order: -1;
    margin-right: 0;
  }

  .mobile-menu__item{
    margin-bottom: 35px;
  }
  
  .logo{
    margin-left: auto;
    margin-right: 154px;
  }
}

@media (max-width: 768px) {
  .header__inner{
    padding-left: 64px;
    padding-right: 64px;
  }
  .blockquote__text{
    max-width: 640px;
  }
  .assortment__list{
    flex-wrap: wrap;
    justify-content: center;
  }

}
@media (max-width: 680px) {
  .conainer{
    padding-left: 10px;
    padding-right: 10px;
  }
  .header__inner{
    padding-left: 0;
    padding-right: 0;
  }
  .top__title{
    font-size: 40px;
    line-height: normal;
  }
  .blockquote__text{
    font-size: 16px;
    max-width: 376px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
}
@media (max-width: 480px) {
  .logo{
    margin-right: 80px;
  }
  .logo img{
    width: 40px;
  }
  .menu__list{
    width: 360px;
  }
  .assortment{
    margin-bottom: 60px;
  }
}
@media (max-width: 360px) {
  .assortment__title{
    margin-bottom: 10px;
  }
  .logo{
    margin-right: 50px;
  }
  .user-actions__item-search{
    margin-left: 0;
  }
  .header__inner{
    padding: 10px 0;
  }
  .top__title{
    font-size: 24px;
    margin-bottom: 10px;
  }
  .top__text{
    font-size: 13px;
    margin-bottom: 30px;
  }
  .top__inner{
    min-height: 367px;
  }
  .blockquote__text{
    max-width: 340px;
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .assortment__img{
    max-width: 170px;
  }
  .assortment{
    margin-bottom: 80px;
  }
}